/* red-hat-text-300 - latin */
@font-face {
font-family: 'Red Hat Text';
font-style: normal;
font-weight: 300;
src: local(''),
        url('./red-hat-text-v10-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./red-hat-text-v10-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* red-hat-text-regular - latin */
@font-face {
font-family: 'Red Hat Text';
font-style: normal;
font-weight: 400;
src: local(''),
        url('./red-hat-text-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./red-hat-text-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* red-hat-text-500 - latin */
@font-face {
font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
src: local(''),
        url('./red-hat-text-v10-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./red-hat-text-v10-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* red-hat-text-600 - latin */
@font-face {
font-family: 'Red Hat Text';
font-style: normal;
font-weight: 600;
src: local(''),
        url('./red-hat-text-v10-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./red-hat-text-v10-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* red-hat-text-700 - latin */
@font-face {
font-family: 'Red Hat Text';
font-style: normal;
font-weight: 700;
src: local(''),
        url('./red-hat-text-v10-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./red-hat-text-v10-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* red-hat-text-300italic - latin */
@font-face {
font-family: 'Red Hat Text';
font-style: italic;
font-weight: 300;
src: local(''),
        url('./red-hat-text-v10-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./red-hat-text-v10-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* red-hat-text-italic - latin */
@font-face {
font-family: 'Red Hat Text';
font-style: italic;
font-weight: 400;
src: local(''),
        url('./red-hat-text-v10-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./red-hat-text-v10-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* red-hat-text-500italic - latin */
@font-face {
font-family: 'Red Hat Text';
font-style: italic;
font-weight: 500;
src: local(''),
        url('./red-hat-text-v10-latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./red-hat-text-v10-latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* red-hat-text-600italic - latin */
@font-face {
font-family: 'Red Hat Text';
font-style: italic;
font-weight: 600;
src: local(''),
        url('./red-hat-text-v10-latin-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./red-hat-text-v10-latin-600italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* red-hat-text-700italic - latin */
@font-face {
font-family: 'Red Hat Text';
font-style: italic;
font-weight: 700;
src: local(''),
        url('./red-hat-text-v10-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./red-hat-text-v10-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}