<style>
body {text-align: justify; width: 70vw; max-width: 25em; font-family: inherit;}
div#buttonbar, div#error { display: none; }
div#dialogcontent {margin-bottom: 0px;}
ol {margin-bottom: 3em;}
ol > li {margin-bottom: 1em;}

div#bottombar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

div#bottombar > span {
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 10px;
    border-style: none;
    outline: none;
    text-align: center;
    background-color: rgb(51, 204, 102);
    color: white;
    font-family: inherit;
    font-size: smaller;
    text-transform: uppercase;
    cursor: default;
    user-select: none;
    min-width: 100px;
}

div#bottombar > span:hover {
    filter: brightness(98%);
    transition: all 0.3s ease;
}
</style>

<p>{{i18n.iOSTOTPHelpHeader}}</p>
<p>
<ol type="1">
<li>{{i18n.iOSTOTPHelp1}}</li>
<li>{{i18n.iOSTOTPHelp2}}</li>
<li>{{i18n.iOSTOTPHelp3}}</li>
</ol>
</p>

<div id="bottombar">
    <span id="openauth" onclick="$$.copyTextToClipboard('{{{secret}}}'); 
        monkshu_env.components['dialog-box'].hideDialog(this); window.open('{{{totpURL}}}');">{{i18n.OpenGoogleAuthenticator}}</span>
</div>