<style>
body {width: 50vw}

div#wrapper {
    display: flex;
    flex-direction: column;
}

span#link {
    display: flex;
    flex-direction: row;
    height: 3em;
    margin-bottom: 1em;
    justify-content: space-between;
}

span#link > img {
    width: 1.5em;
    height: 100%;
}

input#sharedisplay {
    padding: 1em;
    box-sizing: border-box;
    border-radius: 10px;
    border-style: none;
    outline: none;
    text-align: left;
    background-color: #F0F8FF;
    box-shadow: 0 0 0px 1000px #F0F8FF inset;
    flex-grow: 1;
    max-width: calc(100% - 6em);
}

span#expiryspan {
    font-size: smaller;
    margin-bottom: 20px;
    padding-left: 2px;
}

span#expiryspan > input#expiry {
    width: 2.5em;
    border-style: none;
    outline: none;
    font-family: 'Serif';
}

span#copied {
    text-align: center;
    font-size: small;
    transition: opacity 1s;
    opacity: 0;
}
</style>

<div id="wrapper">
<span id="link">
    <input type="text" readonly id="sharedisplay" value="{{link}}">
    <img id="share" onclick='event.stopPropagation(); navigator.share({url: "{{link}}", title: "{{i18n.SharedFileTitle}}", text: "{{i18n.SharedFileText}}"});' 
        src="{{dialogpath}}/img/share.svg">
    <img id="copy" onclick="event.stopPropagation(); 
        navigator.clipboard.writeText('{{link}}'); const selector = this.parentNode.parentNode;
        selector.querySelector('span#copied').style.opacity=1;
        setTimeout(_=>selector.querySelector('span#copied').style.opacity=0, 1300);" src="{{dialogpath}}/img/copy.svg">
</span>
<span id="expiryspan">Share for <input id="expiry" type="number" value="{{shareDuration}}" min="1" onkeyup="if (this.value<0) this.value=this.value*-1;"> days</span>
<span id="copied">{{i18n.Copied}}</span>
</div>