<style>
body {
    width: 300px;
}

span#message {
    font: inherit;
    font-size: smaller;
    text-align: center;
    width: 300px;
    display: inline-block;
}

div#error {display: none;}
</style>
{{{CONF.MOBILE_MEDIA_QUERY_START}}}
    div#dialog {box-sizing: border-box; padding: 2em;}
    body {width: 100%; min-width: 0;}
    span#close {display:none;}
    div#buttonbar {position: absolute; width: calc(100% - 4em); bottom: 2em; justify-content: space-between;}
    span#message {width: 100%;}
{{{CONF.MOBILE_MEDIA_QUERY_END}}}
{{{CONF.MOBILE_MEDIA_QUERY_LANDSCAPE_START}}}
    div#dialog {min-height: 12em; width: 50vw;}
{{{CONF.MOBILE_MEDIA_QUERY_LANDSCAPE_END}}}
{{{CONF.MOBILE_MEDIA_QUERY_PORTRAIT_START}}}
    div#dialog {width: 96vw; min-height: 12em;}
{{{CONF.MOBILE_MEDIA_QUERY_PORTRAIT_END}}}

<span id="message">{{message}}</span>

<script>
function onOK(element) {monkshu_env.components["dialog-box"].submit(element);}
</script>
